@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Raleway:wght@300;400;500&display=swap");

.menu-flexbox {
    display: flex;
    flex-direction: row;
    height: 30vh;
}

.menu-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.menu-middle h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: #000000;
}

.menu-button-flex {
    display: flex;
    flex-direction: row;
}